*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img-main{
    width: 50px;

}

.merriweather-light {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
  }

#bg-light{
    background-color: #f5ebdc;
}
#bg-light-dark{
    background-color: #ebe2d3;
} 
.bg-brown{
    background-color: #502314;
    color: white;
}



.btn-orange{
    background-color: #d62300;
}

.orange{
    color: #d62300;
}

.border-orange{
    border: 1px solid  #d62300;
}
.text-brown{
    color: #502314;
}

.btn-brown{
    background-color: #502314;
}

.brown{
    color: #502314;
    font-size: 3.5rem;
    font-weight: bold;
}

.fp-1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    font-weight: bold;
    
}


   /* margin class start  */

.mt-5b{
    margin-top: 100px;
}  

   /* margin class end  */
