*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img-main{
    width: 50px;

}

.merriweather-light {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
  }

  /* background color class start */

#bg-light{
    background-color: #f5ebdc;
}
#bg-light-dark{
    background-color: #ebe2d3;
} 
.bg-brown{
    background-color: #502314;
    color: white;
}

  /* background color class end */


   /* button class start  */

.btn-orange{
    background-color: #d62300;
}

.btn-brown{
    background-color: #502314;
}

   /* button class end  */
   


 /* text color class start  */


.orange{
    color: #d62300;
}

.text-brown{
    color: #502314;
}


.brown{
    color: #502314;
    font-size: 3.5rem;
    font-weight: bold;
}


 /* text color class end  */
  

   /* border class start  */


.border-orange{
    border: 1px solid  #d62300;
}

   /* border class end  */
        

   /* font size class start  */

.fp-1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    font-weight: bold;
    
}


   /* font size class end  */
     

   /* margin class start  */

.mt-5b{
    margin-top: 100px;
}  

   /* margin class end  */



@media(max-width:600px){
    #main-btn{
        display: none;
    }
}